@charset "utf-8";
@font-face {
    font-family: font1;
    src: url(BAD\ GRUNGE.ttf);
}

body{
    margin: 0;
    padding: 0;
    background-color: #000;
  
background-image: url(https://ucpel.edu.br/laravel/public/storage/noticias/Old/83601112018181515.png);
background-repeat:round;
background-size:200px;

}

main{
background-color: #000000;   
  margin-top: 31em;
  margin-left: 15em;
  margin-right: 20em;

}


main p{
    color: #ffffff;
    text-align: justify;
    font-family:sans-serif;
    margin-left: 6em;
    margin-right: 5em;
}

h2{
    margin-left: 10em;
    color: #d31414;
}

.conteiner{
    height: 460px;
    width: 799px;
    overflow: hidden; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imagem img{
    width: 100%;
    height: 100%;
}

.navegacao{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;  
}

.bar{
    background-color: #000000;
    width: 30px;
    height: 5px;
    margin: 6px;
    cursor: pointer;
    transition: .5s;
}

.bar:hover{
    background-color: #000;
}

input{
    display: none;
}

.imagens{
    display: flex;
    height: 100%;
    width: 600%;

}

.imagem{
    width: 16.6666666667%;
    transition: 0.5s;
}

#imagem1:checked ~ .img1{
    margin-left: 0;  
}

#imagem2:checked ~ .img2{
    margin-left: -16.6666666667%;;  
}

#imagem3:checked ~ .img3{
    margin-left: -33.3333333333%;  
}

#imagem4:checked ~ .img4{
    margin-left: -50%;  
}

#imagem5:checked ~ .img5{
    margin-left: -66.6666666667%;  
}
#imagem6:checked ~ .img6{
    margin-left: -83.3333333333%
    ;
}
h1{
    background-color: #000;
    color: #ffffff;
    margin-left: 2em;
    font-size: 35px;
    margin-top: 1px;
    text-align: center;
    color:#d31414 ;
}

footer{
    background-color: #000000;
    text-align: center; 
    margin-left: -10em;
    color: #d31414 ;
    font-size: 1em;
}
a{
    color: #d31414 ;
}